body {
  background-color: #f7f7f7;
  font-family: "Comic Sans MS"
}

.game-div {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#game-canvas {
  border: 1px solid #7f7f7f;
  background-color: white;
}